{% extends 'AdminPage.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

<table class="customers">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
</tr> 
    
    {% for d in data %}
     
    <tr>
    <td>{{d.0}}</td>
    <td>{{d.1}}</a></td>
    <td>{{d.8}}</td>
    <td>{{d.7}}</td>
    <td><a href="/adminremove?id={{d.0}}">Remove</a> </td><td><a href="/approve?id={{d.0}}">Approve</a></td>
    </tr>
  
    {% endfor %}
</table>
    {% endblock %}
        