{% extends 'MerchantPage.html' %}
{% block body %}













<form method="POST">
    {% csrf_token %}  
        <table class="subcatogory">
            <tr>
                <td>
                    Catogory Name
                </td>
                <td><select name="catname" class="textbox" style="color: deeppink;" id="catname" required><option>--Select--</option>
                  {%for c in data %}
                <option value="{{c.0}}">{{c.1}}</option>
                {% endfor %}
                
                </select></td>
            </tr>
            <tr>
                <td>
                    Subcategory Name
                </td>
                <td><input type="text" class="textbox" placeholder="Enter Subcategory" name="scname"></td>
            </tr>
            
            <tr>
              <td>
                      <input type="submit" class="but" value="Add Now">
              </td>
          </tr>
        </table>
        </form>








{% endblock %}